/* the styles for the navigation menu */
#nav_menu ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative; 
}

#nav_menu ul li { 
    float: left;
    width: 20%; 
} 

#nav_menu ul li a { 
    text-align: center; 
    display: block; 
    width: 175px; 
    padding: 1em 0;
    text-decoration: none; 
    background-color: pink; 
    color: white;
    font-weight: bold;
    border-right: 2px solid white; 
}

#nav_menu ul ul {
	width: 100%;
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

/* the styles for the elements */
html {
    background-color: white;
}

body {
    font-family:'Times New Roman', Times, serif;
    font-size: 100%;
    width: 96%;
	max-width: 960px;
    margin: 0 auto;
   
}

/* the styles for the header */

header img {
	float: left;
	padding: 0 3.75%;
}
header h3 {
	font-size: 175%;
	color: black;
}
/* the styles for the section */
section img {
    float: right;
    max-width: 40%;
    min-width: 150px;
    margin: .5em 0 1em 1em;
    border: 1px solid black;
}

section p {
    padding-bottom: .5em;
    font-size: 125%;
}

section h2 {
	color: red;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
section h3 {
	color: black;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}